@import "~react-toggle-switch/dist/css/switch.min.css";

html, body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;

  #app {
    width: 500px;
    margin: 0 auto;
  }

  h1 {
    font-weight: 200;
  }

  h2 {
    border-bottom: 1px solid #dddddd;
    margin: 0 0 1em;
  }

  .switch {
    float: none;
    margin-top: 1em;
  }

  button {
    padding: 10px;
    border-radius: 2px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    cursor: pointer;
    width: 125px;
    margin: 1em 0;
  }

  .example-usage {
    border: 1px solid #dddddd;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 1em;

    p {
      margin: 0;
    }
  }
}